body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #2E2F42;
    letter-spacing: 0.04em;
}

/* .timer {
    width: 272px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #808080;
}

.timer:hover {
    border: 1px solid #000;
}

.timer:active {
    border: 1px solid #4E75FF;
} */

.button-availibity {
    
}